<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.dao.CategoryOneDao">

	<resultMap type="CategoryOne" id="BaseResultMap">
		<id column="categoryOneId" property="categoryOneId" />
		<result column="categoryOneName" property="categoryOneName" />
	</resultMap>
	<!-- sql -->
	<select id="getCateOne" resultMap="BaseResultMap">
		SELECT categoryOne.categoryoneId,categoryOne.categoryOneName FROM categoryOne
		order by categoryOne.categoryOneId ASC
		limit 
		#{page.firstIndex},#{page.pageSize}
	</select>
	<insert id="addCateOne">
		INSERT INTO categoryOne (categoryOneName) VALUES (#{categoryOne.categoryOneName})
	</insert>
	<delete id="delCateOne">
		DELETE FROM categoryOne WHERE categoryOneId = #{delId}
	</delete>
	<update id="uptCateOne">
		UPDATE categoryOne SET categoryOneName = #{categoryOne.categoryOneName} WHERE categoryOneId =#{categoryOne.categoryOneId}
	</update>
	<select id="getCateOneById" resultMap="BaseResultMap">
		SELECT * FROM categoryOne WHERE categoryOneId = #{categoryOneId}
	</select>
	<select id="getRowsCountByPage" resultType="Integer">
		SELECT COUNT(1) FROM categoryOne
	</select>
	<select id="Search" resultMap="BaseResultMap">
		SELECT categoryOne.categoryOneId,categoryOne.categoryOneName FROM categoryOne 
		where categoryOne.categoryOneName like '%${categoryOneName}%'
		ORDER BY categoryOne.categoryOneId ASC
		LIMIT 
		#{page.firstIndex},#{page.pageSize}
	</select>
	<select id="getRowsCountToPageByCategoryName" resultType="Integer">
		SELECT COUNT(1) FROM categoryOne WHERE categoryOne.categoryOneName like '%${categoryOneName}%'
	</select>
</mapper>