<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.dao.OrderItemDao">

	<resultMap type="OrderItem" id="BaseResultMap">
		<id column="orderItemId" property="orderItemId" />
		<result column="quantity" property="quantity" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
	</resultMap>

	<resultMap type="OrderItem" id="FullResultMap" extends="BaseResultMap">
		<association property="productType" resultMap="com.shopping.dao.ProductTypeDao.BaseResultMap" />
		<association property="order" resultMap="com.shopping.dao.OrderDao.BaseResultMap" />
	</resultMap>

	<resultMap type="OrderItem" id="SuperResultMap" extends="BaseResultMap">
		<association property="productType" resultMap="com.shopping.dao.ProductTypeDao.SuperResultMap" />
		<association property="order" resultMap="com.shopping.dao.OrderDao.SuperResultMap" />
	</resultMap>

</mapper>