<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.dao.ProductPropertyValueDao">

	<resultMap type="ProductPropertyValue" id="BaseResultMap">
		<id column="productPropertyValueId" property="productPropertyValueId" />
		<result column="productPropertyValueName" property="productPropertyValueName" />
	</resultMap>

	<resultMap type="ProductPropertyValue" id="FullResultMap" extends="BaseResultMap">
		<association property="productProperty" resultMap="com.shopping.dao.ProductPropertyDao.BaseResultMap" />
		<association property="product" resultMap="com.shopping.dao.ProductDao.BaseResultMap" />
	</resultMap>

	<resultMap type="ProductPropertyValue" id="SuperResultMap" extends="BaseResultMap">
		<association property="productProperty" resultMap="com.shopping.dao.ProductPropertyDao.SuperResultMap" />
		<association property="product" resultMap="com.shopping.dao.ProductDao.SuperResultMap" />
	</resultMap>

	<delete id = "deleteProductPropertyValueByProductId">
		delete from productPropertyValue where productId = #{productId}
	</delete>
	
	<insert id = "add">
		insert into productPropertyValue values(null,#{productProperty.productPropertyId},#{product.productId},#{productPropertyValueName})
	</insert>
	
	<update id = "edit">
		update productPropertyValue set productPropertyValueName = #{productPropertyValueName},
		productPropertyId = #{productProperty.productPropertyId} where productPropertyValueId = #{productPropertyValueId}
	</update>
	
	<delete id = "delete">
		delete from productPropertyValue where productPropertyValueId = #{productPropertyValueId}
	</delete>
	
	<delete id = "deleteByProductPropertyId">
		delete from productPropertyValue where productPropertyId = #{productPropertyId}
	</delete>
	
	<select id = "list" resultMap = "FullResultMap">
		select ppv.*,pp.productPropertyName from productPropertyValue ppv 
		inner join productProperty pp on pp.productPropertyId = ppv.productPropertyId
		where ppv.productId = #{productId}
	</select>
</mapper>