<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.dao.ProductImageDao">

	<resultMap type="ProductImage" id="BaseResultMap">
		<id column="productImageId" property="productImageId" />
		<result column="productImagePath" property="productImagePath" />
	</resultMap>

	<resultMap type="ProductImage" id="FullResultMap" extends="BaseResultMap">
		<association property="product" resultMap="com.shopping.dao.ProductDao.BaseResultMap" />
	</resultMap>

	<resultMap type="ProductImage" id="SuperResultMap" extends="BaseResultMap">
		<association property="product" resultMap="com.shopping.dao.ProductDao.SuperResultMap" />
	</resultMap>
	
	<!-- <sql id="selectCondition">
		<where>
			<if test = "productId != null and productId != 0">
				and productId = #{productId}
			</if>
		</where>
	</sql> -->
	
	<!-- <select id="getProducts" resultMap = "FullResultMap">
		select * from productImage as pi
		inner join product p on p.productId = pi.productId
		<include refid = "selectCondition" />
		order by productId asc
		limit #{page.firstIndex},#{page.pageSize}
	</select> -->
	
	<!-- 如果报错就写路径 -->
	<insert id = "addProductImage">
		insert into productImage values(#{pi.productImageId},#{productId},#{pi.productImagePath})
	</insert>
	
	<select id = "getProductImageByProductId" resultMap = "FullResultMap">
		select * from productImage where productId = #{productId}
	</select>
	
	<delete id = "deleteProductImageByProductId">
		delete from productImage where productId = #{productId}
	</delete>
	
	<delete id = "delete">
		delete from productImage where productImageId = #{productImageId}
	</delete>
</mapper>