<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.dao.ShoppingCartDao">

	<resultMap type="ShoppingCart" id="BaseResultMap">
		<id column="shoppingCartId" property="shoppingCartId" />
		<result column="quantity" property="quantity" />
		<result column="shoppingCartCreateDate" property="shoppingCartCreateDate" />
	</resultMap>
	
	<resultMap type="ShoppingCart" id="FullResultMap" extends="BaseResultMap">
	<association property="productType" resultMap="com.shopping.dao.ProductTypeDao.BaseResultMap" />
		<association property="user" resultMap="com.shopping.dao.UserDao.BaseResultMap" />
	</resultMap>

	<resultMap type="ShoppingCart" id="SuperResultMap" extends="BaseResultMap">
	<association property="productType" resultMap="com.shopping.dao.ProductTypeDao.SuperResultMap" />
		<association property="user" resultMap="com.shopping.dao.UserDao.SuperResultMap" />
	</resultMap>
	
</mapper>